NEXT_PUBLIC_SUPABASE_URL=https://mrxdoitwnkyvnuwcregd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_3pCDKCoyV8IUDoaX2Y3yBw_r9RViYWl
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yeGRvaXR3bmt5dm51d2NyZWdkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ4Njc1MSwiZXhwIjoyMDg5MDYyNzUxfQ.zDv1xZH3hAS9gO8o-CVmDOk4rpb9BsjqcmtCKTLzkNA

ADMIN_TELEGRAM_ID=810176982
TELEGRAM_BOT_TOKEN=8650151076:AAGIL0ATho3qTbOIKkTWQGN4kYW8qu8AAH8
ADMIN_CHAT_ID=810176982

